@media only screen and (max-width: 992px){
    .right ul{
        display: none;
    }
    .container h1{
        font-size: 3rem;
    }
    .container p.first-p{
        padding:0px 40px;
        font-size:1.2em;
    }
    .p-keeper2{
        margin-left: 0px;
    }
    #header i{
        display: block;
    }
    .service{
        background-attachment:inherit;
    }
    .info .h2-keeper{
        font-size: 1rem;
    }
    .contact .card{
        margin-left: 0;
        display: flex;
    }
}
@media only screen and (max-width: 576px){
    .about-img img{
        margin-left: 20px;
    }
}

@media only screen and (max-width: 1200px){
    .menu .filter{
        width: 18rem;
    }
}
@media only screen and (max-width: 767px){
    .menu .filter{
        width: 16rem;
    }
}
@media only screen and (max-width: 536px){
    .menu .filter{
        width: 100%;
    }
}